
<div class="card border-light mb-3" style="max-width:100%;">
    <div class="card-body" style="padding-left: 50px; padding-right: 50px;">
      <div class="container-fluid">
        <br>
        <div class="container">
          <div class="row">
            <div class="card border-light mb-3" style="max-width: 100%; text-align: center;">
              <div class="card-header"><h4 class="card-title">Contratos creados</h4></div>
            </div>
            
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-12">
            <table class="table table-hover" datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" cellspacing="0">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">EXACT</th>
                    <th scope="col">Estado</th>
                    <!-- <th scope="col">Proveedor/Cliente</th> -->
                    <th scope="col">Fecha firma</th>
                    <th scope="col">Vigencia</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-light" *ngFor="let item of contracts; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.exactNumber}}</td>
                    <td>{{item.estate}}</td>
                    <!-- <td>{{item.supplierClient}}</td> -->
                    <td>{{item.signatureDate}}</td>
                    <td>{{item.effect}} {{ item.dayYear}}</td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm"  data-bs-target="#modalContract" data-bs-toggle="modal"
                        style="margin-right: 10px;" (click)=" modalMode(1, i, item)">Detalles</button>
                        <button type="button" class="btn btn-success btn-sm"  data-bs-target="#modalContract" data-bs-toggle="modal"
                        (click)=" modalMode(2, i,item)" style="margin-right: 10px;">Editar</button>
                        <button type="button" class="btn btn-primary btn-sm" style="margin-right: 10px;"  (click)=" modalMode(3, i, item)"
                        data-bs-target="#modalDeleteContract" data-bs-toggle="modal">Eliminar</button>
                        <button type="button" class="btn btn-danger btn-sm" 
                        data-bs-target="#modalSuplemento" data-bs-toggle="modal"
                        (click)=" modalMode(4, i, item)">Suplemento</button>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>





    <!-- modal Añadir Suplemnto-->
    <div class="modal"  id="modalSuplemento">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document"  >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-danger" >Añadir suplemento</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card border-light mb-3" style="max-width: 100%">
                
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <form [formGroup]="suplementForm" >
                        <fieldset>
                            <div class="row">
                              <div class="col-md-8">
                                <h5 style="text-align: center;">Suplementos en este contrtato</h5>
                                <table class="table table-hover"  cellspacing="0">
                                  <thead>
                                    <tr>
                                      <th scope="col">No.</th>
                                      <th scope="col">Cantidad</th>
                                      <th scope="col">Fecha de Creación</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr class="table-light" *ngFor="let item of suplements; let i = index">
                                      <th scope="row">{{i+1}}</th>
                                      <td>{{item.amount}}</td>
                                      <td>{{item.createdAt |date}}</td>
                                      <td>
                                        <button type="button" class="btn btn-success btn-sm" 
                                        style="margin-right: 10px;"data-bs-target="#modalDeleteSuplement" 
                                        data-bs-toggle="modal"  (click)="modalModeSuplement(1, item)">Editar</button>
                                        <button type="button" class="btn btn-primary btn-sm" 
                                        data-bs-target="#modalDeleteSuplement" data-bs-toggle="modal"
                                        (click)="modalModeSuplement(2, item, i)">Eliminar</button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                                <div class="col-md-4"> 
                                    <div class="form-floating">
                                    <input [ngClass]="{
                                      'is-invalid':
                                      contractForm.get('amount')?.errors &&
                                      contractForm.get('amount')?.touched,
                                      'is-valid':
                                      contractForm.get('amount')?.touched &&
                                      contractForm.get('amount')?.valid
                                  }"
                                    type="number" class="form-control" id="amount"
                                     name="amount" 
                                    placeholder="Cantidad"
                                    formControlName="amount">
                                    <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                                    contractForm.get('amount')?.hasError('min') &&
                                    contractForm.get('amount')?.touched">Debe añadir una cantidad mayor que 0.
                                   </div>
                                   <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                                   contractForm.get('sucursal')?.hasError('required') &&
                                   contractForm.get('sucursal')?.touched"> Campo requerido
                                  </div>
                                  <label for="amount" >Cantidad a añadir</label>
                              </div>
                              </div>
                                
                            </div>
                        </fieldset>
                        <div class="form-group">
                          <div class="row" style="margin-top: 20px;">
                              <div class="col-md-12" style="text-align: right;">
                                <button  class="btn btn-danger" id="buttonSumit" data-bs-dismiss="modal" 
                                (click)="addSuplement()"
                                type="button" [disabled]="!suplementForm.valid">Añadir
                            </button>
                                  <button type="button" class="btn btn-dark" 
                                  style="margin-left: 5px;" data-bs-dismiss="modal">Cancelar</button>
                              </div>
                          </div>
                      </div>
                      </form>
                    </div>
                  </div>
                  
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal"  id="modalContract">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document"  >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" 
              [ngClass]="{'text-info': modalTitle=='Detalles del Contrato', 
              'text-success': modalTitle=='Editar Contrato' }"
              >{{modalTitle}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card border-light mb-3" style="max-width: 100%">
                
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <form [formGroup]="contractForm" >
                        <fieldset>
                            <div class="row">
                                <div class="col-md-4"> 
                                    <div class="form-floating">
                                    <ng-container *ngIf="actionMode ==1">
                                    <input 
                                    type="text" class="form-control" id="exactNumber"
                                     name="exactNumber"  readonly=""
                                    placeholder="SHA-1"
                                    formControlName="exactNumber">
                                  <label for="exactNumber" >Número de EXACT</label>
                               
                              </ng-container>
                                    <ng-container *ngIf="actionMode ==2">
                                    <input [ngClass]="{
                                      'is-invalid':
                                      contractForm.get('exactNumber')?.errors &&
                                      contractForm.get('exactNumber')?.touched,
                                      'is-valid':
                                      contractForm.get('exactNumber')?.touched &&
                                      contractForm.get('exactNumber')?.valid
                                  }"
                                    type="text" class="form-control" id="exactNumber"
                                     name="exactNumber" 
                                    placeholder="SHA-1"
                                    formControlName="exactNumber" appNotBlankSpaces>
                                    <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                                    contractForm.get('exactNumber')?.hasError('pattern') &&
                                    contractForm.get('exactNumber')?.touched">Número de exact incorrecto. Ej: SHG-32
                                   </div>
                                  <label for="exactNumber" >Número de EXACT</label>
                              </ng-container>
                              </div>
                              </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <ng-container *ngIf="actionMode ==1">
                                            <input type="text" class="form-control" id="sucursal" 
                                            name="sucursal" readonly=""
                                            placeholder="Fecha de firma"
                                            formControlName="sucursal">
                                            <label for="sucursal" >Sucursal</label>
                                        </ng-container>
                                        <ng-container *ngIf="actionMode ==2">
                                            <input [ngClass]="{
                                              'is-invalid':
                                              contractForm.get('sucursal')?.errors &&
                                              contractForm.get('sucursal')?.touched,
                                              'is-valid':
                                              contractForm.get('sucursal')?.touched &&
                                              contractForm.get('sucursal')?.valid
                                          }"
                                            type="text" class="form-control" id="sucursal" 
                                            name="sucursal" 
                                            placeholder="Fecha de firma"
                                            formControlName="sucursal" appNotBlankSpaces>
                                            <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                              contractForm.get('sucursal')?.hasError('required') &&
                              contractForm.get('sucursal')?.touched"> Campo requerido
                             </div>
                                            <label for="sucursal" >Sucursal</label>
                                        </ng-container>
                                      </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <ng-container *ngIf="actionMode ==1">
                                        <input type="date" class="form-control" id="signatureDate" 
                                        name="signatureDate"  readonly=""
                                        placeholder="Fecha de firma"
                                        formControlName="signatureDate" autocomplete="off">
                                        <label for="signatureDate" >Fecha de firma</label>
                                        </ng-container>
                                        <ng-container *ngIf="actionMode ==2">
                                        <input [ngClass]="{
                                          'is-invalid':
                                          contractForm.get('signatureDate')?.errors &&
                                          contractForm.get('signatureDate')?.touched,
                                          'is-valid':
                                          contractForm.get('signatureDate')?.touched &&
                                          contractForm.get('signatureDate')?.valid
                                      }"
                                        type="date" class="form-control" id="signatureDate" 
                                        name="signatureDate" 
                                        placeholder="Fecha de firma"
                                        formControlName="signatureDate" autocomplete="off">
                                        <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                                        contractForm.get('signatureDate')?.hasError('required') &&
                                        contractForm.get('signatureDate')?.touched"> Campo requerido
                                       </div>
                                        <label for="signatureDate" >Fecha de firma</label>
                                        </ng-container>
                                      </div>
                                </div>
                            </div>

                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-floating" style="margin-top: 10px;">
                                  <ng-container *ngIf="actionMode ==1">
                                  <input type="text" class="form-control" id="supplierClient" name="supplierClient" 
                                  formControlName="supplierClient"   readonly="" placeholder="Proveedor/Cliente">
                                  <label for="supplierClient">Proveedor/Cliente</label>
                                </ng-container>
                                  <ng-container *ngIf="actionMode ==2">
                                  <input [ngClass]="{
                                    'is-invalid':
                                    contractForm.get('supplierClient')?.errors &&
                                    contractForm.get('supplierClient')?.touched,
                                    'is-valid':
                                    contractForm.get('supplierClient')?.touched &&
                                    contractForm.get('supplierClient')?.valid
                                }"
                                  type="text" class="form-control" id="supplierClient" name="supplierClient" 
                                  formControlName="supplierClient"  placeholder="Proveedor/Cliente"
                                  appNotBlankSpaces>
                                  <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                              contractForm.get('supplierClient')?.hasError('required') &&
                              contractForm.get('supplierClient')?.touched"> Campo requerido
                             </div>
                                  <label for="supplierClient">Proveedor/Cliente</label>
                                </ng-container>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-floating" style="margin-top: 10px;">
                                  <ng-container *ngIf="actionMode ==1">
                                  <input type="text" class="form-control" id="aplicantArea" 
                                  name="aplicantArea"  readonly=""
                                  placeholder="55555555"
                                  formControlName="aplicantArea" autocomplete="off">
                                  <label for="aplicantArea">Área rectora/solicitante  </label>
                                </ng-container>
                                  <ng-container *ngIf="actionMode ==2">
                                  <input [ngClass]="{
                                    'is-invalid':
                                    contractForm.get('aplicantArea')?.errors &&
                                    contractForm.get('aplicantArea')?.touched,
                                    'is-valid':
                                    contractForm.get('aplicantArea')?.touched &&
                                    contractForm.get('aplicantArea')?.valid
                                }"
                                  type="text" class="form-control" id="aplicantArea" 
                                  name="aplicantArea"  
                                  placeholder="55555555"
                                  formControlName="aplicantArea" autocomplete="off"
                                  appNotBlankSpaces>
                                  <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                                  contractForm.get('aplicantArea')?.hasError('required') &&
                                  contractForm.get('aplicantArea')?.touched"> Campo requerido
                                 </div>
                                  <label for="aplicantArea">Área rectora/solicitante  </label>
                                </ng-container>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-6">
                                <ng-container *ngIf="actionMode ==1">
                                  <div class="form-floating" style="margin-top: 10px;">
                                    <input  type="text" class="form-control" id="contractType" name="contractType" 
                                    formControlName="contractType"  readonly="">
                                  <label for="contractType" >Tipo de contrato o suplemento</label>
                              </div>
                            </ng-container>
                                <ng-container *ngIf="actionMode ==2">
                                <div class="form-control" style="margin-top: 10px;">
                                  <label for="contractType" >Tipo de contrato o suplemento</label>
                                <select   [ngClass]="{
                                  'is-invalid':
                                  contractForm.get('contractType')?.errors &&
                                  contractForm.get('contractType')?.touched,
                                  'is-valid':
                                  contractForm.get('contractType')?.touched &&
                                  contractForm.get('contractType')?.valid
                              }"
                                 class="form-select" id="contractType" name="contractType" 
                                formControlName="contractType">
                                  <option  value="" disabled>--Seleccione--</option>
                                  <option value="Contrato de compra ventas">Contrato de compra ventas</option>
                                  <option value="Contrato de servicios">Contrato de servicios</option>
                                  <option value="Contrato de suministros">Contrato de suministros</option>
                                  <option value="">Otros</option>
                                </select>
                                <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                            contractForm.get('contractType')?.hasError('required') &&
                            contractForm.get('contractType')?.touched"> Campo requerido
                           </div>
                              </div>
                            </ng-container>
                              </div>
                              <div class="col-md-6">
                                <div class="form-control" style="margin-top: 10px; margin-bottom: 10px">
                                  <label for="effect" >Vigencia</label>
                                  <div class="row">
                                    <div class="col-md-5">
                                      <ng-container *ngIf="actionMode ==1">
                                        <div class="form-check form-switch">
                                          <input 
                                          class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                                          formControlName="dayYear" readonly="">
                                          <label class="form-check-label" 
                                          for="flexSwitchCheckDefault">Días/Años</label>
                                        </div>
                                      </ng-container>
                                      <ng-container *ngIf="actionMode ==2">
                                        <div class="form-check form-switch">
                                          <input 
                                          class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                                          formControlName="dayYear"  value="false" [(ngModel)]="showDayYear">
                                          <label class="form-check-label" 
                                          for="flexSwitchCheckDefault">Días/Años</label>
                                        </div>
                                      </ng-container>
                                      

                                    </div>
                                    <div class="col-md-7">
                                      <ng-container *ngIf="actionMode ==1">
                                        <ng-container *ngIf = "!showDayYear">
                                          <div class="input-group">
                                            <input 
                                            type="number" class="form-control" id="effect" name="effect" 
                                             formControlName="effect" readonly=""
                                            aria-label="Amount (to the nearest dollar)" autocomplete="off">
                                            <span class="input-group-text">días</span>
                                            
                                          </div>
                                        </ng-container>
                                        <ng-container *ngIf = "showDayYear">
                                          <div class="input-group">
                                            <input 
                                            type="number" class="form-control" id="effect" name="effect" 
                                             formControlName="effect" readonly=""
                                            aria-label="Amount (to the nearest dollar)" autocomplete="off">
                                            <span class="input-group-text">años</span>
                                           
                                          </div>
                                        </ng-container>
                                      </ng-container>
                                      <ng-container *ngIf="actionMode ==2">
                                        <ng-container *ngIf = "!showDayYear">
                                          <div class="input-group">
                                            <input [ngClass]="{
                                              'is-invalid':
                                              contractForm.get('effect')?.errors &&
                                              contractForm.get('effect')?.touched,
                                              'is-valid':
                                              contractForm.get('effect')?.touched &&
                                              contractForm.get('effect')?.valid
                                          }"
                                            type="number" class="form-control" id="effect" name="effect" 
                                             formControlName="effect" 
                                            aria-label="Amount (to the nearest dollar)" autocomplete="off">
                                            <span class="input-group-text">días</span>
                                            <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                                            contractForm.get('effect')?.hasError('required') &&
                                            contractForm.get('effect')?.touched"> Campo requerido
                                          </div>
                                          </div>
                                        </ng-container>
                                        <ng-container *ngIf = "showDayYear">
                                          <div class="input-group">
                                            <input [ngClass]="{
                                              'is-invalid':
                                              contractForm.get('effect')?.errors &&
                                              contractForm.get('effect')?.touched,
                                              'is-valid':
                                              contractForm.get('effect')?.touched &&
                                              contractForm.get('effect')?.valid
                                          }"
                                            type="number" class="form-control" id="effect" name="effect" 
                                             formControlName="effect" 
                                            aria-label="Amount (to the nearest dollar)" autocomplete="off">
                                            <span class="input-group-text">años</span>
                                            <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                                            contractForm.get('effect')?.hasError('required') &&
                                            contractForm.get('effect')?.touched"> Campo requerido
                                          </div>
                                          </div>
                                        </ng-container>
                                      </ng-container>
                                    </div>
                                  </div>
                                  </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-4">
                                <ng-container *ngIf="actionMode ==1">
                                  <div class="form-floating" style="margin-top: 10px;">
                                    <input  type="text" class="form-control" id="estate" name="estate" 
                                    formControlName="estate"  readonly="">
                                  <label for="estate" >Estado</label>
                              </div>
                            </ng-container>
                                <ng-container *ngIf="actionMode ==2">
                                <div class="form-control" style="margin-top: 10px;">
                                  <label for="estate" >Estado</label>
                                <select   [ngClass]="{
                                  'is-invalid':
                                  contractForm.get('estate')?.errors &&
                                  contractForm.get('estate')?.touched,
                                  'is-valid':
                                  contractForm.get('estate')?.touched &&
                                  contractForm.get('estate')?.valid
                              }"
                                class="form-select" id="estate" name="estate" 
                                formControlName="estate">
                                  <option  value="">--Seleccione--</option>
                                  <option value="Ejecución">Ejecución</option>
                                  <option value="Vencido">Vencido</option>
                                </select>
                                <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                                            contractForm.get('estate')?.hasError('required') &&
                                            contractForm.get('estate')?.touched"> Campo requerido
                                          </div>
                              </div>
                            </ng-container>
                              </div>
                              <div class="col-md-4">
                                <div class="form-floating" style="margin-top: 10px;">
                                  <ng-container *ngIf="actionMode ==1">
                                  <input type="text" class="form-control" id="object" name="object" 
                                  placeholder="objeto" readonly=""
                                  formControlName="object"  autocomplete="off">
                                  <label for="object" >Objeto</label>
                                </ng-container>
                                  <ng-container *ngIf="actionMode ==2">
                                  <input [ngClass]="{
                                    'is-invalid':
                                    contractForm.get('object')?.errors &&
                                    contractForm.get('object')?.touched,
                                    'is-valid':
                                    contractForm.get('object')?.touched &&
                                    contractForm.get('object')?.valid
                                }"
                                  type="text" class="form-control" id="object" name="object" 
                                  placeholder="objeto" 
                                  formControlName="object"  autocomplete="off" appNotBlankSpaces>
                                  <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                                  contractForm.get('object')?.hasError('required') &&
                                  contractForm.get('object')?.touched"> Campo requerido
                                 </div>
                                  <label for="object" >Objeto</label>
                                </ng-container>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-floating" style="margin-top: 10px;">
                                  <ng-container *ngIf="actionMode ==1">
                                  <input type="text" class="form-control" id="processor" name="processor" 
                                  placeholder="tramitador"   readonly=""
                                  formControlName="processor"  autocomplete="off">
                                  <label for="processor" >Tramitador</label>
                                </ng-container>
                                  <ng-container *ngIf="actionMode ==2">
                                  <input [ngClass]="{
                                    'is-invalid':
                                    contractForm.get('processor')?.errors &&
                                    contractForm.get('processor')?.touched,
                                    'is-valid':
                                    contractForm.get('processor')?.touched &&
                                    contractForm.get('processor')?.valid
                                }"
                                  type="text" class="form-control" id="processor" name="processor" 
                                  placeholder="tramitador" 
                                  formControlName="processor"  autocomplete="off" appNotBlankSpaces>
                                  <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                                  contractForm.get('processor')?.hasError('required') &&
                                  contractForm.get('processor')?.touched"> Campo requerido
                                 </div>
                                  <label for="processor" >Tramitador</label>
                                </ng-container>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-3">
                                <div class="form-floating" style="margin-top: 10px;">
                                  <ng-container *ngIf="actionMode ==1">
                                  <input type="text" class="form-control" id="wayToPay" name="wayToPay" 
                                  placeholder="Forma de pago" readonly=""
                                  formControlName="wayToPay"  autocomplete="off">
                                  <label for="wayToPay" >Forma de pago</label>
                                  </ng-container>
                                  <ng-container *ngIf="actionMode ==2">
                                  <input [ngClass]="{
                                    'is-invalid':
                                    contractForm.get('wayToPay')?.errors &&
                                    contractForm.get('wayToPay')?.touched,
                                    'is-valid':
                                    contractForm.get('wayToPay')?.touched &&
                                    contractForm.get('wayToPay')?.valid
                                }"
                                  type="text" class="form-control" id="wayToPay" name="wayToPay" 
                                  placeholder="Forma de pago" 
                                  formControlName="wayToPay"  autocomplete="off" appNotBlankSpaces>
                                  <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                                  contractForm.get('wayToPay')?.hasError('required') &&
                                  contractForm.get('wayToPay')?.touched"> Campo requerido
                                 </div>
                                  <label for="wayToPay" >Forma de pago</label>
                                  </ng-container>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-floating" style="margin-top: 10px;">
                                  <ng-container *ngIf="actionMode ==1">
                                  <input type="text" class="form-control" id="termToPay" name="termToPay" 
                                  placeholder="Termino de pago" readonly=""
                                  formControlName="termToPay">
                                  <label for="termToPay" >Termino de pago</label>
                                </ng-container>
                                  <ng-container *ngIf="actionMode ==2">
                                  <input [ngClass]="{
                                    'is-invalid':
                                    contractForm.get('termToPay')?.errors &&
                                    contractForm.get('termToPay')?.touched,
                                    'is-valid':
                                    contractForm.get('termToPay')?.touched &&
                                    contractForm.get('termToPay')?.valid
                                }"
                                  type="text" class="form-control" id="termToPay" name="termToPay" 
                                  placeholder="Termino de pago" 
                                  formControlName="termToPay" appNotBlankSpaces>
                                  <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                                  contractForm.get('termToPay')?.hasError('required') &&
                                  contractForm.get('termToPay')?.touched"> Campo requerido
                                </div>
                                  <label for="termToPay" >Termino de pago</label>
                                </ng-container>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-floating" style="margin-top: 10px;">
                                  <ng-container *ngIf="actionMode ==1">
                                  <input type="text" class="form-control" id="currencyPay" name="currencyPay" 
                                  placeholder="Moneda de pago" readonly=""
                                  formControlName="currencyPay" >
                                  <label for="termToPay" >Moneda de pago</label>
                                </ng-container>
                                  <ng-container *ngIf="actionMode ==2">
                                  <input [ngClass]="{
                                    'is-invalid':
                                    contractForm.get('currencyPay')?.errors &&
                                    contractForm.get('currencyPay')?.touched,
                                    'is-valid':
                                    contractForm.get('currencyPay')?.touched &&
                                    contractForm.get('currencyPay')?.valid
                                }"
                                  type="text" class="form-control" id="currencyPay" name="currencyPay" 
                                  placeholder="Moneda de pago" 
                                  formControlName="currencyPay" >
                                  <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                                  contractForm.get('currencyPay')?.hasError('required') &&
                                  contractForm.get('currencyPay')?.touched"> Campo requerido
                                 </div>
                                  <label for="termToPay" >Moneda de pago</label>
                                </ng-container>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-floating" style="margin-top: 10px;">
                                  <ng-container *ngIf="actionMode ==1">
                                  <input type="number" class="form-control" id="totalValue"
                                  name="totalValue"  placeholder="Valor total" readonly=""
                                      formControlName="totalValue">
                                      <label for="totalValue" >Valor total</label>
                                  </ng-container>
                                  <ng-container *ngIf="actionMode ==2">
                                  <input [ngClass]="{
                                    'is-invalid':
                                    contractForm.get('totalValue')?.errors &&
                                    contractForm.get('totalValue')?.touched,
                                    'is-valid':
                                    contractForm.get('totalValue')?.touched &&
                                    contractForm.get('totalValue')?.valid
                                }"
                                  type="number" class="form-control" id="totalValue"
                                  name="totalValue"  placeholder="Valor total" 
                                      formControlName="totalValue">
                                      <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                                      contractForm.get('totalValue')?.hasError('required') &&
                                      contractForm.get('totalValue')?.touched"> Campo requerido
                                     </div>
                                      <label for="totalValue" >Valor total</label>
                                  </ng-container>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                <ng-container *ngIf="actionMode ==1">
                                <div class="form-floating" style="margin-top: 10px;">
                                
                                  <input type="text" class="form-control" id="nationalInternational"
                                  name="nationalInternational"  placeholder="Valor total" readonly=""
                                      formControlName="nationalInternational">
                                      <label for="totalValue" >Pago</label>
                                 
                                </div>
                              </ng-container>
                                 <ng-container *ngIf="actionMode ==2">
                                   <legend class="mt-4">Pago</legend>
                                   <div class="form-check form-check-inline">
                                     <label class="form-check-label">
                                       <input 
                                       type="radio" class="form-check-input" name="nationalInternational"
                                       id="nationalInternational" value=Nacional formControlName="nationalInternational">
                                       <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                                contractForm.get('nationalInternational')?.hasError('required') &&
                                contractForm.get('nationalInternational')?.touched"> Campo requerido
                               </div>
                                       Nacional
                                     </label>
                                   </div>
                                   <div class="form-check form-check-inline">
                                     <label class="form-check-label">
                                       <input type="radio" class="form-check-input" name="nationalInternational"
                                       id="nationalInternational" value=Internacional formControlName="nationalInternational">
                                       <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                                contractForm.get('nationalInternational')?.hasError('required') &&
                                contractForm.get('nationalInternational')?.touched"> Campo requerido
                               </div>
                                       Internacional
                                     </label>
                                   </div>
                                  </ng-container>
                               </div>
                               <div class="col-md-2">
                                <ng-container *ngIf="actionMode ==1">
                                  <div class="form-floating" style="margin-top: 10px;">
                                  
                                    <input type="text" class="form-control" id="exportation"
                                    name="exportation"  placeholder="exportation" readonly=""
                                        formControlName="exportation">
                                        <label for="totalValue" >Exportación</label>
                                   
                                  </div>
                                </ng-container>
                                <ng-container *ngIf="actionMode ==2">
                                <legend class="mt-4">Exportación</legend>
                                <div class="form-check form-check-inline">
                                  <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="exportation" 
                                    id="exportation" value="Si" formControlName="exportation">
                                    <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                              contractForm.get('exportation')?.hasError('required') &&
                              contractForm.get('exportation')?.touched"> Campo requerido
                             </div>
                                    Si
                                  </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="exportation" 
                                    id="exportation" value="No" formControlName="exportation">
                                    <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                              contractForm.get('exportation')?.hasError('required') &&
                              contractForm.get('exportation')?.touched"> Campo requerido
                             </div>
                                    No
                                  </label>
                                </div>
                                </ng-container>
                              </div>
                              <div class="col-md-6">
                                <ng-container *ngIf="actionMode ==1">
                                  <div class="form-floating" style="margin-top: 10px;">
                                  
                                    <input type="text" class="form-control" id="observations"
                                    name="observations"  placeholder="observations" readonly=""
                                        formControlName="observations">
                                        <label for="totalValue" >Observaciones</label>
                                   
                                  </div>
                                </ng-container>

                                <ng-container *ngIf="actionMode ==2">
                                <div class="form-group">
                                  <label for="observations" class="form-label mt-4">Observaciones</label>
                                  <textarea class="form-control" id="observations" name="observations" rows="3" 
                                  formControlName="observations"></textarea>
                                </div>
                                </ng-container>
                              </div>
                            </div>
        
                        </fieldset>
                        <div class="form-group">
                          <div class="row" style="margin-top: 20px;">
                              <div class="col-md-12" style="text-align: right;">
                               <ng-container *ngIf="actionMode==1">
                            <button  type="button" 
                                class="btn btn-light"  printSectionId ="print-section" ngxPrint>
                                <i class="fa fa-print fa-2x" 
                                style="cursor: pointer; margin-left: 10px;" 
                                data-bs-toggle="tooltip" data-bs-placement="top" 
                                title="Imprimir Contrato"
                                ></i>
                            </button >
                               </ng-container>
                               <ng-container *ngIf="actionMode==2">
                                <button  class="btn btn-success" id="buttonSumit" data-bs-dismiss="modal" 
                                (click)="editContract()"
                                type="button" [disabled]="!contractForm.valid">Editar
                            </button>
                               </ng-container>
                                  <button type="button" class="btn btn-dark" 
                                  style="margin-left: 5px;" data-bs-dismiss="modal">{{btCanCe}}</button>
                              </div>
                          </div>
                      </div>
                      </form>
                    </div>
                  </div>
                  
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  <!-- modal Editar/Eliminar Suplemento -->
  <div class="modal"  id="modalDeleteSuplement">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" 
          [ngClass]="{'text-success': modalSuplementMode === 1, 
          'text-primary':  modalSuplementMode === 2 }"
          >{{modalSuplementTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div> 
        <div class="modal-body">
          <div class="card border-light mb-3" style="max-width: 100%">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <ng-container *ngIf="modalSuplementMode === 1">
                    <form [formGroup]="suplementForm" >
                      <fieldset>
                          <div class="row justify-content-center">
                              <div class="col-md-6"> 
                                  <div class="form-floating">
                                  <input [ngClass]="{
                                    'is-invalid':
                                    contractForm.get('amount')?.errors &&
                                    contractForm.get('amount')?.touched,
                                    'is-valid':
                                    contractForm.get('amount')?.touched &&
                                    contractForm.get('amount')?.valid
                                }"
                                  type="number" class="form-control" id="amount"
                                   name="amount" 
                                  placeholder="Cantidad"
                                  formControlName="amount">
                                  <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                                  contractForm.get('amount')?.hasError('min') &&
                                  contractForm.get('amount')?.touched">Debe añadir una cantidad mayor que 0.
                                 </div>
                                 <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                                 contractForm.get('sucursal')?.hasError('required') &&
                                 contractForm.get('sucursal')?.touched"> Campo requerido
                                </div>
                                <label for="amount" >Cantidad a añadir</label>
                            </div>
                            </div>
                              
                          </div>
                      </fieldset>
                    </form>
                  </ng-container>
                  <ng-container *ngIf="modalSuplementMode === 2">
                    <p class="text-primary">
                      Está seguro que desea eliminar el suplemento {{suplementoPosition}}?
                    </p>
                  </ng-container>
                </div>
              </div>
              <div class="row" style="margin-top: 20px;">
                <div class="col-md-12" style="text-align: right;">
                  <ng-container *ngIf="modalSuplementMode === 1">
                    <button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal"
                   (click)="editSuplement()" [disabled]="!suplementForm.valid" >Editar</button>
                  </ng-container>
                  <ng-container *ngIf="modalSuplementMode === 2">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal"
                    (click)="deleteSuplement()" >Eliminar</button>
                  </ng-container>
                  <button type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal"
                  style="margin-left: 5px;"
                  (click)="cleanAmount()">Cancelar</button>
                </div>
              </div>
              
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>



  <!-- modal Eliminar Contrato -->
  <div class="modal"  id="modalDeleteContract">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary" >Atención!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div> 
        <div class="modal-body">
          <div class="card border-light mb-3" style="max-width: 100%">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-primary">
                    Está seguro que desea eliminar el contrato {{contractPosition}}?
                  </p>
                </div>
              </div>
              <div class="row" style="margin-top: 10px;">
                <div class="col-md-12" style="text-align: right;">
                  <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal"
                  (click)="deleteContract()">Eliminar</button>
                  <button type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal"
                  style="margin-left: 5px;">Cancelar</button>
                </div>
              </div>
              
            </div>
        </div>
      </div>
    </div>
  </div>






        <!-- Plantilla para imprimir el Contrato -->
<!-- <ng-container *ngIf="impressContract"> -->
        <div  id ="print-section">  
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="row" style="text-align: center;">
                  <h2>{{currentContract?.contractType}}</h2>
                </div>
                <div class="row">
                <div class="col-md-12">
                  <blockquote class="blockquote">
                    <h6><small> <p>
                      Dado el {{currentContract?.signatureDate}} en la Sucursal {{currentContract?.sucursal}} entre nuestra empresa y 
                      {{currentContract?.supplierClient}}. Con {{currentContract?.aplicantArea}} como área rectora/solicitante y con una vigencia de
                      {{currentContract?.effect}} {{currentContract?.dayYear}}. Presentando como objeto {{currentContract?.object}}, como tramitador 
                      {{currentContract?.processor}}, como forma de pago {{currentContract?.wayToPay}}, como termino de pago {{currentContract?.termToPay}},
                       como moneda de pago {{currentContract?.currencyPay}} y presentando un valor total de {{currentContract?.totalValue}}.
                    </p>
                    </small></h6>
                    </blockquote>
                </div>
                </div>
                <div class="row">
                  <blockquote class="blockquote">
                    <h6><small> <p>Observaciones: {{currentContract?.observations}}
                    </p>
                    </small></h6>
                    </blockquote>
                </div>
                <div class="row">
                  <div class="col-md-12" style="text-align: center;">
                      <h6><small> <p>Firma: ___________________________.     Firma: _____________________________. </p>
                     
                      </small></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div >
    <!-- </ng-container> -->
 