
        <br>
   <div class="row"  style="padding-left: 40px;">
       <div class="col-md-6">
        <div class="card border-secondary mb-3" [routerLink]="['/sgc/home/admin/users']"
        style="width: 80%; cursor: pointer; text-align: center;">
            <div class="card-header" >USUARIOS</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                <i class="fa fa-user fa-8x"></i>
                </div>
            </div>
            <br>
                <div class="row">
                    <div class="col-md-12">
                     <button type="button" class="btn btn-outline-primary">Detalles</button>
                    </div>
                </div>
            </div>
          </div>
       </div>  
       <div class="col-md-6">
        <div class="card border-secondary mb-3" [routerLink]="['/sgc/home/admin/graphics']"
        style="width: 80%; cursor: pointer; text-align: center;">
            <div class="card-header">REPORTES</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                    <i class="fa fa-signal fa-8x"></i>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-outline-primary">Detalles</button>
                    </div>
                    
                </div>
            </div>
          </div>
       </div>
   </div>