 <div class="card-header">
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <h1>
                      <p class="mb-0">Bienvenido</p></h1>
                      <h3><p class="mb-0">al Sistema de Gestión para la contratación en la </p></h3>
                     <h3><p class="mb-0">Cervecería Bucanero S.A.</p>
                    </h3>
                    </blockquote>
                  </figure>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
              <div class="col-md-4" style="padding-left: 40px;">
                <div class="divPicture">
                <img src="../../../assets/images/carrousel1.jpg" >
              </div>
              </div>
              <div class="col-md-4">
                <div class="divPicture">
                <img src="../../../assets/images/carrousel2.png" >
              </div>
              </div>
              <div class="col-md-4">
                <div class="divPicture">
                <img src="../../../assets/images/carrousel3.jpg" >
              </div>
              </div>
          </div>
        </div>
        <div class="card-footer"  style="margin-top: 25px;">
          <div class="row justify-content-center">
            <div class="col-md-12" style="padding-left: 38%;">
              <div class="d-flex align-items-center" >
                Síguenos en:<a href="https://www.facebook.com/pages/category/Brewery/Cervecer%C3%ADa-Bucanero-SA-106824200962093/"
                target="_blank" data-toggle="tooltip" 
                title="Nuestro Facebook" dataplacement="bottom" style="margin-left: 20px; margin-right: 5px;">
                  <i class="fab fa-facebook-f"></i></a> 
                  <a href="http://www.cerveceriabucanero.com/"  target="_blank" data-toggle="tooltip" 
                  title="Nuestra Web" dataplacement="bottom" style="margin-left: 10px; margin-right: 5px;">
                    <i class="fa fa-globe faIcons"></i>
                  </a>
                  <a href="https://twitter.com/cerv_bucaneroSA" target="_blank" data-toggle="tooltip" 
                  title="Nuestro Twitter" dataplacement="bottom" style="margin-left: 10px; margin-right: 5px;">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="http://www.cerveceriabucanero.com/" target="_blank" data-toggle="tooltip" 
                  title="Nuestro Web" dataplacement="bottom" style="margin-left: 10px; margin-right: 5px;">
                    <i class="fab fa-instagram"></i>
                  </a>
              </div>
            </div>
          </div>
        </div>
