
<div class="card border-light mb-3" style="max-width:100%;">
    <div class="card-body" style="padding-left: 50px; padding-right: 50px;">
      <div class="container-fluid">
        <br>
        <div class="container">
          <div class="row">
            <div class="card border-light mb-3" style="max-width: 100%; text-align: center;">
              <div class="card-header"><h4 class="card-title">Usuarios del sistema</h4></div>
            </div>
            
          </div>
        </div>
      
        <div class="row " style="margin-top: 10px; margin-bottom: 25px;">
            <div class="col-md-12"  style="text-align: left; padding-left: 93%;">
                <button type="button" class="btn btn-primary btn-sm" data-bs-target="#modalUsers" data-bs-toggle="modal"
                (click)=" modalMode(1)">Añadir</button>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-12">
            <table class="table table-hover" datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" cellspacing="0">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Rol</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-light" *ngFor="let item of users; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.role}}</td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm"  data-bs-target="#modalUsers" data-bs-toggle="modal"
                        style="margin-right: 10px;" (click)=" modalMode(2, item)">Detalles</button>
                        <button type="button" class="btn btn-success btn-sm"  data-bs-target="#modalUsers" data-bs-toggle="modal"
                        style="margin-right: 10px;" (click)="modalMode(3, item)" >Editar</button>
                        <button type="button" class="btn btn-primary btn-sm"
                        data-bs-target="#modalEliminarUsers" data-bs-toggle="modal" (click)="modalMode(4, item)">Eliminar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row"  style="text-align: center;">
        <div class="col-md-12">
            <i class="fa fa-arrow-left fa-2x"  style="cursor: pointer; text-align: center;" (click)="backClicked()"
            data-bs-toggle="tooltip" data-bs-placement="right" title="Volver"></i>
        </div>
    </div>
  </div>
  
  <!-- modal Añadir, Detalles y Editar -->
  <div class="modal"  id="modalUsers">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" 
          [ngClass]="{'text-primary': modalTitle=='Añadir Usuario',
          'text-info': modalTitle=='Detalles del Usuario', 'text-success': modalTitle=='Editar Usuario' }"
          >{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card border-light mb-3" style="max-width: 100%">
            
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <form (ngSubmit)="workerUser()" [formGroup]="userForm" >
                    <fieldset>
                      <div class="form-floating">
                        <ng-container *ngIf="actionMode!=3">
                          <input 
                          [ngClass]="{
                            'is-invalid':
                            userForm.get('name')?.errors &&
                            userForm.get('name')?.touched,
                            'is-valid':
                            userForm.get('name')?.touched &&
                            userForm.get('name')?.valid
                        }" 
                          type="text" class="form-control" id="name" name="name" 
                          placeholder="Nombre y Apellidos"
                          formControlName="name" autocomplete="off"
                          appNotBlankSpaces>
                          <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                          userForm.get('name')?.hasError('required') &&
                          userForm.get('name')?.touched
                      "
                      >
                      Campo requerido
                  </div>
                        </ng-container>
                        <ng-container *ngIf="actionMode==3">
                          <input 
                          [ngClass]="{
                            'is-invalid':
                            userForm.get('name')?.errors &&
                            userForm.get('name')?.touched,
                            'is-valid':
                            userForm.get('name')?.touched &&
                            userForm.get('name')?.valid
                        }" 
                          type="text" class="form-control" id="name" name="name" 
                          placeholder="Nombre y Apellidos" readonly=""
                          formControlName="name" autocomplete="off">
                          <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                          userForm.get('name')?.hasError('required') &&
                          userForm.get('name')?.touched
                      "
                      >
                      Campo requerido
                  </div>
                        </ng-container>
                        <label for="name" >Nombre</label>
                      </div>
                      <div class="form-floating" style="margin-top: 10px;">
                        <ng-container *ngIf="actionMode !=3">
                        <input [ngClass]="{
                          'is-invalid':
                          userForm.get('address')?.errors &&
                          userForm.get('address')?.touched,
                          'is-valid':
                          userForm.get('address')?.touched &&
                          userForm.get('address')?.valid 
                      }"
                        type="text" class="form-control" id="address" name="address" 
                        placeholder="Dirección Particular"  appNotBlankSpaces
                        formControlName="address" autocomplete="off">
                        <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                          userForm.get('address')?.hasError('required') &&
                          userForm.get('address')?.touched
                      "
                      >
                      Campo requerido
                  </div>
                        </ng-container>
                        <ng-container *ngIf="actionMode==3">
                        <input type="text" class="form-control" id="address" name="address" 
                        placeholder="Dirección Particular" readonly=""
                        formControlName="address" autocomplete="off">
                        </ng-container>
                        <label for="address" >Dirección</label>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-floating" style="margin-top: 10px;">
                            <ng-container *ngIf="actionMode !=3">
                            <input [ngClass]="{
                              'is-invalid':
                              userForm.get('dni')?.errors &&
                              userForm.get('dni')?.touched,
                              'is-valid':
                              userForm.get('dni')?.touched &&
                              userForm.get('dni')?.valid
                          }"
                            type="number" class="form-control" id="dni" name="dni" 
                            appNotBlankSpaces
                            formControlName="dni"  placeholder="11111111111">
                            <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                          userForm.get('dni')?.hasError('required') &&
                          userForm.get('dni')?.touched
                      "
                      >
                      Campo requerido
                  </div>
                  <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                  ( ( userForm.get('dni')?.hasError('min') &&
                    userForm.get('dni')?.touched ) || ( userForm.get('dni')?.hasError('max') &&
                    userForm.get('dni')?.touched ))
                      "
                      >
                      El número de CI tiene 11 digitos
                  </div>
                          </ng-container>
                            <ng-container *ngIf="actionMode==3">
                            <input type="number" class="form-control" id="dni" name="dni"  readonly=""
                            formControlName="dni"  placeholder="11111111111">
                          </ng-container>
                            <label for="dni">No. Carné Identidad </label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-floating" style="margin-top: 10px;">
                            <ng-container *ngIf="actionMode !=3">
                            <input [ngClass]="{
                              'is-invalid':
                              userForm.get('celular')?.errors &&
                              userForm.get('celular')?.touched,
                              'is-valid':
                              userForm.get('celular')?.touched &&
                              userForm.get('celular')?.valid
                          }"
                            type="number" class="form-control" id="celular" name="celular" 
                            placeholder="55555555"
                            formControlName="celular" autocomplete="off"
                            appNotBlankSpaces>
                            <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                            userForm.get('celular')?.hasError('required') &&
                            userForm.get('celular')?.touched
                        "
                        >
                        Campo requerido
                    </div>
                    <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                  ( ( userForm.get('celular')?.hasError('min') &&
                    userForm.get('celular')?.touched ) || ( userForm.get('celular')?.hasError('max') &&
                    userForm.get('celular')?.touched ))
                      "
                      >
                      El número de celular tiene 8 digitos
                  </div>
                          </ng-container>
                          <ng-container *ngIf="actionMode ==3">
                            <input type="number" class="form-control" id="celular" name="celular" 
                            placeholder="55555555"    readonly=""
                            formControlName="celular" autocomplete="off">
                          </ng-container>
                            <label for="celular">No. Celular </label>
                          </div>
                        </div>
                      </div>
                       
                      <ng-container *ngIf="actionMode !=3">
                      <div class="form-control" style="margin-top: 10px;">
                          <label for="role" >Rol</label>
                        <select   [ngClass]="{
                          'is-invalid':
                          userForm.get('role')?.errors &&
                          userForm.get('role')?.touched,
                          'is-valid':
                          userForm.get('role')?.touched &&
                          userForm.get('role')?.valid
                      }"
                        class="form-select" id="role" name="role" formControlName="role"
                        [(ngModel)]="roleDefault">
                          <option  value="" disabled>--Seleccione--</option>
                          <option value="Administrador">Administrador</option>
                          <option value="Tramitador">Tramitador</option>
                        </select>
                        <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                            userForm.get('role')?.hasError('required') &&
                            userForm.get('role')?.touched
                        "
                        >
                        Campo requerido
                    </div>
                      </div>
                      </ng-container>
                        <ng-container *ngIf="actionMode ==3">
                          <div class="form-floating" style="margin-top: 10px;">
                        <input  type="text" class="form-control" id="role" name="role" formControlName="role"  readonly="">
                        <label for="role" >Rol</label>
                          </div>
                      </ng-container>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-floating" style="margin-top: 10px;">
                            <ng-container *ngIf="actionMode !=3">
                            <input [ngClass]="{
                              'is-invalid':
                              userForm.get('email')?.errors &&
                              userForm.get('email')?.touched,
                              'is-valid':
                              userForm.get('email')?.touched &&
                              userForm.get('email')?.valid
                          }"
                            type="email" class="form-control" id="email" name="email" 
                            placeholder="usuario@dominio.cu" appNotBlankSpaces
                            formControlName="email"  autocomplete="off">
                            <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                            userForm.get('email')?.hasError('required') &&
                            userForm.get('email')?.touched
                        "
                        >
                        Campo requerido
                    </div>
                          </ng-container>
                            <ng-container *ngIf="actionMode ==3">
                            <input type="email" class="form-control" id="email" name="email" 
                            placeholder="usuario@dominio.cu"  readonly=""
                            formControlName="email"  autocomplete="off">
                          </ng-container>
                            <label for="email" >Email</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-floating" style="margin-top: 10px;">
                            <ng-container *ngIf="actionMode !=3">
                            <input [ngClass]="{
                              'is-invalid':
                              userForm.get('password')?.errors &&
                              userForm.get('password')?.touched,
                              'is-valid':
                              userForm.get('password')?.touched &&
                              userForm.get('password')?.valid
                          }"
                            type="text" class="form-control" id="password"
                            name="password"  placeholder="******" 
                            appNotBlankSpaces
                                formControlName="password">
                                <div class="invalid-feedback colorMessageErrors text-center" *ngIf="
                                userForm.get('password')?.hasError('required') &&
                                userForm.get('password')?.touched
                            "
                            >
                            Campo requerido
                        </div>
                              </ng-container>
                                <ng-container *ngIf="actionMode ==3">
                            <input type="text" class="form-control" id="password"
                            name="password"  placeholder="******"  readonly=""
                                formControlName="password">
                              </ng-container>
                                <label for="password" >Clave</label>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <div class="form-group">
                      <div class="row" style="margin-top: 20px;">
                          <div class="col-md-12" style="text-align: right;">
                           <ng-container *ngIf="actionMode==1">
                            <button  class="btn btn-primary" id="buttonSumit" data-bs-dismiss="modal" (click)="workerUser()"
                            type="submit" [disabled]="!userForm.valid">{{modalButtom}}
                        </button>
                           </ng-container>
                           <ng-container *ngIf="actionMode==2">
                            <button  class="btn btn-success" id="buttonSumit" data-bs-dismiss="modal" (click)="workerUser()"
                            type="submit" [disabled]="!userForm.valid">{{modalButtom}}
                        </button>
                           </ng-container>
                              <button type="button" class="btn btn-dark" style="margin-left: 5px;" 
                              data-bs-dismiss="modal">{{btCanCe}}</button>
                          </div>
                      </div>
                  </div>
                  </form>
                </div>
              </div>
              
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- modal Eliminar -->
  <div class="modal"  id="modalEliminarUsers">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary" >Atención!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div> 
        <div class="modal-body">
          <div class="card border-light mb-3" style="max-width: 100%">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-primary">
                    Está seguro que desea eliminar al usuario {{currenUser?.name}}?
                  </p>
                </div>
              </div>
              <div class="row" style="margin-top: 10px;">
                <div class="col-md-12" style="text-align: right;">
                  <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal"
                  (click)="deletUser()">Eliminar</button>
                  <button type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal"
                  style="margin-left: 5px;">Cancelar</button>
                </div>
              </div>
              
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>
