<div class="card border-light mb-3" style="max-width:100%;">
    <div class="card-body" style="padding-left: 50px; padding-right: 50px;">
      <div class="container-fluid">
        <br>
        <div class="container">
          <div class="row">
            <div class="card border-light mb-3" style="max-width: 100%; text-align: center;">
              <div class="card-header"><h4 class="card-title">Añadir Nuevo Contrato</h4></div>
            </div> 
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <form  [formGroup]="contractForm" >
                    <fieldset>
                        <div class="row justify-content-end">
                            <!-- <div class="col-md-4"> <div class="form-floating">
                                <input type="text" class="form-control" id="exactNumber"
                                 name="exactNumber" 
                                placeholder="SHA-1"
                                formControlName="exactNumber">
                              <label for="exactNumber" >Número de EXACT</label>
                            </div>
                        </div> -->
                            <div class="col-md-4">
                                <div class="form-floating">
                                    <input type="date" class="form-control" id="signatureDate" 
                                    name="signatureDate" 
                                    placeholder="Fecha de firma"
                                    formControlName="signatureDate" autocomplete="off">
                                    <label for="signatureDate" >Fecha de firma</label>
                                  </div>
                            </div>
                        </div>
                     
                     
                      <div class="row">
                        <div class="col-md-4" style="margin-top: 10px; ">
                          <div class="form-floating">
                              <input type="text" class="form-control" id="sucursal" 
                              name="sucursal" 
                              placeholder="Fecha de firma"
                              formControlName="sucursal">
                              <label for="sucursal" >Sucursal</label>
                            </div>
                      </div>
                        <div class="col-md-4">
                          <div class="form-floating" style="margin-top: 10px;">
                            <input type="text" class="form-control" id="supplierClient" name="supplierClient" 
                            formControlName="supplierClient"  placeholder="Proveedor/Cliente">
                            <label for="supplierClient">Proveedor/Cliente</label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-floating" style="margin-top: 10px;">
                            <input type="text" class="form-control" id="aplicantArea" 
                            name="aplicantArea" 
                            placeholder="55555555"
                            formControlName="aplicantArea" autocomplete="off">
                            <label for="aplicantArea">Área rectora/solicitante  </label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-control" style="margin-top: 10px;">
                            <label for="contractType" >Tipo de contrato</label>
                          <select   class="form-select" id="contractType" name="contractType" formControlName="contractType">
                            <option  value="" disabled>--Seleccione--</option>
                            <option value="Contrato de compra ventas">Contrato de compra ventas</option>
                            <option value="Contrato de servicios">Contrato de servicios</option>
                            <option value="Contrato de suministros">Contrato de suministros</option>
                            <option value="">Otros</option>
                          </select>
                        </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-control" style="margin-top: 10px; margin-bottom: 10px">
                            <label for="effect" >Vigencia</label>
                            <div class="row">
                              <div class="col-md-5">
                                <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                                  formControlName="dayYear" (click)="showDayYear =!showDayYear">
                                  <label class="form-check-label" 
                                  for="flexSwitchCheckDefault">Días/Años</label>
                                </div>
                              </div>
                              <div class="col-md-7">
                                <ng-container *ngIf = "!showDayYear">
                                  <div class="input-group">
                                    <input type="number" class="form-control" id="effect" name="effect" 
                                     formControlName="effect"
                                    aria-label="Amount (to the nearest dollar)" autocomplete="off">
                                    <span class="input-group-text">días</span>
                                  </div>
                                </ng-container>
                                <ng-container *ngIf = "showDayYear">
                                  <div class="input-group">
                                    <input type="number" class="form-control" id="effect" name="effect" 
                                     formControlName="effect"
                                    aria-label="Amount (to the nearest dollar)" autocomplete="off">
                                    <span class="input-group-text">años</span>
                                  </div>
                                </ng-container>
                              </div>
                            </div>
                              
                             
                            </div>
                          <!-- <div class="form-floating" style="margin-top: 10px;">
                                <input type="date" class="form-control" id="effect"
                                name="effect"  placeholder="Vigencia" 
                                    formControlName="effect">
                                    <span class="input-group-text">.00</span>
                                    <label for="effect" >Vigencia</label>
                            
                                <select   class="form-select" id="contractType" 
                                name="contractType" formControlName="contractType">
                                  <option  value="">--Seleccione--</option>
                                  <option value="">Otros</option>
                                </select> 
                          </div> -->
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-floating" style="margin-top: 10px;">
                            <input type="text" class="form-control" id="object" name="object" 
                            placeholder="objeto"  formControlName="object"  autocomplete="off">
                            <label for="object" >Objeto</label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-floating" style="margin-top: 10px;">
                            <input type="text" class="form-control" id="processor" name="processor" 
                            placeholder="tramitador" 
                            formControlName="processor"  autocomplete="off">
                            <label for="processor" >Tramitador</label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-floating" style="margin-top: 10px;">
                            <input type="text" class="form-control" id="wayToPay" name="wayToPay" 
                            placeholder="Forma de pago" 
                            formControlName="wayToPay"  autocomplete="off">
                            <label for="wayToPay" >Forma de pago</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-floating" style="margin-top: 10px;">
                            <input type="text" class="form-control" id="termToPay" name="termToPay" 
                            placeholder="Termino de pago" 
                            formControlName="termToPay">
                            <label for="termToPay" >Termino de pago</label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-floating" style="margin-top: 10px;">
                            <input type="text" class="form-control" id="currencyPay" name="currencyPay" 
                            placeholder="Moneda de pago" 
                            formControlName="currencyPay" >
                            <label for="termToPay" >Moneda de pago</label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-floating" style="margin-top: 10px;">
                            <input type="number" class="form-control" id="totalValue"
                            name="totalValue"  placeholder="Valor total" 
                                formControlName="totalValue">
                                <label for="totalValue" >Valor total</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                           <legend class="mt-4">Pago</legend>
                             <div class="form-check form-check-inline">
                               <label class="form-check-label">
                                 <input type="radio" class="form-check-input" name="nationalInternational" 
                                 id="nationalInternational" value=true formControlName="nationalInternational">
                                 Nacional
                               </label>
                             </div>
                             <div class="form-check form-check-inline">
                               <label class="form-check-label">
                                 <input type="radio" class="form-check-input" name="nationalInternational" 
                                 id="nationalInternational" value=false formControlName="nationalInternational">
                                 Internacional
                               </label>
                             </div>
                         </div>
                         <div class="col-md-2">
                          <legend class="mt-4">Exportación</legend>
                          <div class="form-check form-check-inline">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="exportation" 
                              id="exportation" value="true" formControlName="exportation">
                              Si
                            </label>
                          </div>
                          <div class="form-check form-check-inline">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="exportation" 
                              id="exportation" value="false" formControlName="exportation">
                              No
                            </label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="observations" class="form-label mt-4">Observaciones</label>
                            <textarea class="form-control" id="observations" name="observations" rows="3" 
                            formControlName="observations"></textarea>
                          </div>
                        </div>
                      </div>
                    
                    </fieldset>
                    <div class="form-group">
                      <div class="row" style="margin-top: 20px;">
                          <div class="col-md-12" style="text-align: right;">
                            <button  class="btn btn-primary" id="buttonSumit" (click)="workerContract()"
                            type="button" [disabled]="!contractForm.valid">Crear
                        </button>
                              <button type="button" class="btn btn-dark" style="margin-left: 5px;" 
                              (click)="cancel()">Cancelar</button>
                          </div>
                      </div>
                  </div>
                  </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
